@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
}







@media only screen and (min-width:200px) and (max-width:399px) {
    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
        height: auto;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 100%;
    }

    .user-det {
        width: 100%;
    }

    .user-cont,
    .user-cont1 {
        width: 100%;
    }

    .height {
        height: 100px;
    }

}




/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        height: auto;
        gap: 30px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 100%;
    }

    .user-det {
        width: 100%;
    }

    .user-cont,
    .user-cont1 {
        width: 100%;
    }

    .height {
        height: 100px;
    }












}









/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {

    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 33%;
    }

    .user-det {
        width: 37%;
    }

    .user-cont,
    .user-cont1 {
        width: 30%;
    }

    .height {
        height: 100px;
    }



}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {


    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 12px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 33%;
    }

    .user-det {
        width: 37%;
    }

    .user-cont,
    .user-cont1 {
        width: 30%;
    }

    .height {
        height: 100px;
    }


}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
    .maincontainer {
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        width: 100%;
    }

    .aside::-webkit-scrollbar {
        display: none;
    }

    .aside {
        width: 13%;
        height: 94.3vh;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        overflow-y: hidden;
        transition: all 0.5s ease-in-out;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.3px);
        -webkit-backdrop-filter: blur(0.3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: sticky;
        top: 53px;
    }

    .side-container {
        background-color: #ecf0f1;
        width: 87%;
    }
    .side-container-active
    {
        width: 100%;
    }

    .close-open-icon {
        display: flex;
        justify-content: end;
        padding: 10px;
    }

    .bar-icon {
        font-size: 20px;
        cursor: pointer;
    }

    .bar-icon:hover {
        color: #ff4343;
        transition: all 0.4s;
    }

    .aside-active {
        width: 2.5%;
        transition: all 0.5s ease-in-out;
    }

    .nav-content {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 23px;
        color: #000;
        transition: all 0.4s;
    }

    .nav-content:hover {
        background-color: #ff9900;
        color: #fff;
        transition: all 0.4s;
        cursor: pointer;
    }

    .img-src {
        display: flex;
        justify-content: center;
        transition: all 5s;
    }

    .img-src-inactive {
        display: none;
        transition: all 5s;
    }

    .dashboard-container {
        padding: 10px 25px;
    }

    .dashboard-text {
        color: #554d4d;
        font-weight: 400;
    }

    .dashboard-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .today-det {
        font-size: 12px;
        color: #000;
    }

    .dayButton {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .btns {
        color: #ff4332;
        background-color: #fff;
        padding: 5px 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
        border-radius: 5px;
    }

    .btns-active {
        background-color: #ff4343;
        color: #fff;
        transition: all 0.4s;
    }

    .btns:hover {
        background-color: #ff4332;
        color: #fff;
        transition: all 0.4s;
    }

    .alltime-container {
        display: none;
    }

    .today-container {
        height: auto;
    }

    .today-first-container {
        padding: 10px 0;
        display: flex;
        width: 100%;
        gap: 40px;
    }

    .today-first-one {
        height: auto;
        width: 70%;
    }

    .today-second-one {
        height: auto;
        width: 30%;
    }

    .first-content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .countvalue {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.3px);
        -webkit-backdrop-filter: blur(0.3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: auto;
        width: 200px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        padding: 10px;
    }

    .first-value {
        width: 70%;
        line-height:10px;
    }
    .name
    {
        color: #2b941d;
    }
    .count
    {
        font-size: 19px;
        font-weight: 700;
    }
    .second-value {
        width: 20%;
    }

    .first-value h1 {
        color: #554d4d;
        font-weight: 100;
        font-size: 17px;
    }

    .second-value i {
        color: #ff4332;
    }

    .second-one-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .second-data {
        border: 1px solid rgba(0, 0, 0, 0.1);
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.3px);
        -webkit-backdrop-filter: blur(0.3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        height: auto;
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
    }

    .second-data h1 {
        color: #554d4d;
        font-weight: 100;
        font-size: 17px;
    }
    .second-data-header
    {
        display: flex;
        gap: 20px;
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .products
    {
        font-weight: 400;
        padding: 10px 0;
    }
    .content-products
    {
          display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }
    .second-content
    {
        display: flex;
        height: 400px;
        gap: 10px;
    }
    .product-available
    {
        height: 100px;
        width: 40%;
    }
    .products-det
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
    }
    .second-data-header i
    {
        color: #ff4332;
    }
    .products-orders
    {
        width: 100%;
    }

    /* delivered */
    
    .delivred-content,.process-content
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 12px;
        width: 100%;
    }
    .item-delivered
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:12px 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 9px;
        font-size: 9px;
        border-radius: 4px;
        width: 100%;
    }
    .items-delivered
    {
        color:#2b941d;
    }
    .orderid
    {
        color: #ff9900;
    }
    .main-content
    {
        width: 50%;
    }
    .item-content
    {
        width: 30%;
    }
    .delivered-sym
    {
        width: 20%;
    }
    .items-process
    {
        color: #ff4332;
    }





}