@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #198754;
    font-family: "Inter", sans-serif;
}





@media only screen and (min-width:200px) and (max-width:399px) {
    
 .totaldetailscontainer
 {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
 }
 .totalcontaiener
 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
    background-color: #fff;
 }
 .totalcontaiener h6
 {
    color: #ff9900;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    text-align: center;

 }
 .arrange
 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
 }
 span
 {
    font-weight: 600;
    color: #198754;
 }
 .first-container-header
 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    background-color: #ff9900;
    color: #ecf0f1;
 }
 .client
 {
    background-color: #ecf0f1;
     height: auto;
    width: 100%;
    background-color: #ecf0f1;
    padding: 20px 0;
 }
 .client-name
 {
    display: none;
 }
 .usermenu
 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
 }
 .users-emailclient,.users-gmailclient
 {
    width: 90%;
    margin:auto;
    padding: 10px 20px;
 }
 .users
 {
    margin-top: 10px;
 }
 .height
 {
    height: 100px;
    background-color: #ecf0f1;
 }
}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

 .totaldetailscontainer
 {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
 }
 .totalcontaiener
 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
    background-color: #fff;
 }
 .totalcontaiener h6
 {
    color: #ff9900;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    text-align: center;

 }
 .arrange
 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
 }
 span
 {
    font-weight: 600;
    color: #198754;
 }
 .first-container-header
 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    background-color: #ff9900;
    color: #ecf0f1;
 }
 .client
 {
    background-color: #ecf0f1;
     height: auto;
    width: 100%;
    background-color: #ecf0f1;
    padding: 20px 0;
 }
 .client-name
 {
    display: none;
 }
 .usermenu
 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
 }
 .users-emailclient,.users-gmailclient
 {
    width: 90%;
    margin:auto;
    padding: 10px 20px;
 }
 .users
 {
    margin-top: 10px;
 }
 .height
 {
    height: 100px;
    background-color: #ecf0f1;
 }












}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {
    
 .totaldetailscontainer
 {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
 }
 .totalcontaiener
 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
    background-color: #fff;
 }
 .totalcontaiener h6
 {
    color: #ff9900;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    text-align: center;

 }
 .arrange
 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
 }
 span
 {
    font-weight: 600;
    color: #198754;
 }
 .first-container-header
 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    background-color: #ff9900;
    color: #ecf0f1;
 }
 .client
 {
    background-color: #ecf0f1;
     height: auto;
    width: 100%;
    background-color: #ecf0f1;
    padding: 20px 0;
 }
 .client-name
 {
    display: none;
 }
 .usermenu
 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
 }
 .users-emailclient,.users-gmailclient
 {
    width: 80%;
    margin:auto;
    padding: 10px 20px;
 }
 .users
 {
    margin-top: 10px;
 }
 .height
 {
    height: 100px;
    background-color: #ecf0f1;
 }
}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {


       .users {
        padding: 10px;
        margin-left: 20px;
    }

    .usermenu {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: start;

    }

    .userimg img {
        width: 40px;
        border-radius: 50%;
    }

    .client {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .emailid {
        text-align: start;
    }

    .name,
    .emailid,
    .phone,
    .uniqid,
    .provider,
    .tit {
        width: 25%;
    }

    .client-name {
        display: flex;
        justify-content: space-around;
        height: 40px;
        align-items: start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    }

    .name1,
    .emailid1,
    .phone1,
    .uniqi1d,
    .provider1,
    .tit1 {
        width: 20%;
    }

    .client-name {
        background-color: #ff9900;
        color: #fff;
        padding: 8px 10px;
        font-weight: 700;
    }

    .usermenu {
        padding: 10px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
            -1px -2px 2px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        background-color: #fff;
        border-radius: 4px;
    }

    .users-emailclient,
    .users-gmailclient {
        background-color: #ecf0f1;
        padding: 10px 0;

    }

    .totalcontaiener {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 20px;
        margin: auto;
        background-color: #ecf0f1;
    }

    .totaldetailscontainer {
        height: 400px;
        padding: 20px;
        width: 50%;
        margin: auto;
    }

    .arrange {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        background-color: #fff;
        font-weight: 600;
    }

    .totalcontaiener h6 {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .height {
        height: 100px;
    }




}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
   

    .users {
        padding: 10px;
        margin-left: 20px;
    }

    .usermenu {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: start;

    }

    .userimg img {
        width: 40px;
        border-radius: 50%;
    }

    .client {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .emailid {
        text-align: start;
    }

    .name,
    .emailid,
    .phone,
    .uniqid,
    .provider,
    .tit {
        width: 25%;
    }

    .client-name {
        display: flex;
        justify-content: space-around;
        height: 40px;
        align-items: start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    }

    .name1,
    .emailid1,
    .phone1,
    .uniqi1d,
    .provider1,
    .tit1 {
        width: 20%;
    }

    .client-name {
        background-color: #ff9900;
        color: #fff;
        padding: 8px 10px;
        font-weight: 700;
    }

    .usermenu {
        padding: 10px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
            -1px -2px 2px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        background-color: #fff;
        border-radius: 4px;
    }

    .users-emailclient,
    .users-gmailclient {
        background-color: #ecf0f1;
        padding: 10px 0;

    }

    .totalcontaiener {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 20px;
        margin: auto;
        background-color: #ecf0f1;
    }

    .totaldetailscontainer {
        height: 400px;
        padding: 20px;
        width: 50%;
        margin: auto;
    }

    .arrange {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        background-color: #fff;
        font-weight: 600;
    }

    .totalcontaiener h6 {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .height {
        height: 100px;
    }




}