@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #198754;
    font-family: "Inter", sans-serif;
}





@media only screen and (min-width:200px) and (max-width:399px) {
.first-container-header
    {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .today-order-tit {
        font-size: 17px;
        padding: 10px;
    }

    .order-items-today {
        background-color: #ecf0f1;
        height: auto;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 95%;
        padding: 10px;
        margin: auto;

    }


    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        overflow: scroll;
        font-size: 5px;
        display: none;
    }

    tr {
        display: flex;
        flex-direction: row;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
    }


    .tr {
        display: flex;
        font-size: 10px;
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
    }

    td:nth-child(3),
    td:nth-child(6),
    td:nth-child(5),
    td:nth-child(4),
    td:nth-child(2),
    td:nth-child(7),
    td:nth-child(8) {
        width: 90%;
    }

    td:nth-child(1) {
        width: 20px;
    }

    th:nth-child(3),
    th:nth-child(6),
    th:nth-child(5),
    th:nth-child(4),
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        width: 10px;
    }

    th:nth-child(1) {
        width: 0px;
    }

    .totalContainer {
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
    }
    .today-items
    {
        display: flex;
        flex-direction: column;
    }
}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {
    .first-container-header
    {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .today-order-tit {
        font-size: 17px;
        padding: 10px;
    }

    .order-items-today {
        background-color: #ecf0f1;
        height: auto;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 95%;
        padding: 10px;
        margin: auto;

    }


    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        overflow: scroll;
        font-size: 5px;
        display: none;
    }

    tr {
        display: flex;
        flex-direction: row;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
    }


    .tr {
        display: flex;
        font-size: 10px;
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
    }

    td:nth-child(3),
    td:nth-child(6),
    td:nth-child(5),
    td:nth-child(4),
    td:nth-child(2),
    td:nth-child(7),
    td:nth-child(8) {
        width: 90%;
    }

    td:nth-child(1) {
        width: 20px;
    }

    th:nth-child(3),
    th:nth-child(6),
    th:nth-child(5),
    th:nth-child(4),
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        width: 10px;
    }

    th:nth-child(1) {
        width: 0px;
    }

    .totalContainer {
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
    }
    .today-items
    {
        display: flex;
        flex-direction: column;
    }











}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {

 .first-container-header
    {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .today-order-tit {
        font-size: 17px;
        padding: 10px;
    }

    .order-items-today {
        background-color: #ecf0f1;
        height: auto;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 95%;
        padding: 10px;
        margin: auto;

    }


    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        overflow: scroll;
        font-size: 5px;
        display: none;
    }

    tr {
        display: flex;
        flex-direction: row;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
    }


    .tr {
        display: flex;
        font-size: 10px;
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
    }

    td:nth-child(3),
    td:nth-child(6),
    td:nth-child(5),
    td:nth-child(4),
    td:nth-child(2),
    td:nth-child(7),
    td:nth-child(8) {
        width: 90%;
    }

    td:nth-child(1) {
        width: 5%;
    }

    th:nth-child(3),
    th:nth-child(6),
    th:nth-child(5),
    th:nth-child(4),
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        width: 10px;
    }

    th:nth-child(1) {
        width: 0px;
    }

    .totalContainer {
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
    }
    .today-items
    {
        display: flex;
        flex-direction: column;
    }

}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
      .today-order-tit {
        font-size: 17px;
        padding: 10px;
    }

    .order-items-today {
        background-color: #ecf0f1;
        height: auto;
        padding: 10px;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        width: 95%;
        padding: 10px;
        margin: auto;

    }


    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
    }

    tr {
        display: flex;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
        gap: 50px;
    }


    .tr {
        display: flex;
        width: 100%;
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
        font-size: 12px;
    }

    td:nth-child(3),
    td:nth-child(6),
    td:nth-child(5),
    td:nth-child(4),
    td:nth-child(2),
    td:nth-child(7),
    td:nth-child(8) {
        width: 85px;
    }

    td:nth-child(1) {
        width: 0px;
    }

    th:nth-child(3),
    th:nth-child(6),
    th:nth-child(5),
    th:nth-child(4),
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        width:80px;
    }

    th:nth-child(1) {
        width: 0px;
    }

    .totalContainer {
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        font-size: 12px;
    }

}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
    .today-order-tit {
        font-size: 17px;
        padding: 10px;
    }

    .order-items-today {
        background-color: #ecf0f1;
        height: auto;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 95%;
        padding: 10px;
        margin: auto;

    }


    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ff9900;
        color: #fff;
        text-transform: uppercase;
    }

    tr {
        display: flex;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px;
        gap: 50px;
    }


    .tr {
        display: flex;
        width: 100%;
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
    }

    td:nth-child(3),
    td:nth-child(6),
    td:nth-child(5),
    td:nth-child(4),
    td:nth-child(2),
    td:nth-child(7),
    td:nth-child(8) {
        width: 150px;
    }

    td:nth-child(1) {
        width: 0px;
    }

    th:nth-child(3),
    th:nth-child(6),
    th:nth-child(5),
    th:nth-child(4),
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        width: 150px;
    }

    th:nth-child(1) {
        width: 0px;
    }

    .totalContainer {
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
        border-radius: 2px;
    }

}