@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
}







@media only screen and (min-width:200px) and (max-width:399px) {
    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
        height: auto;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 8px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 100%;
    }

    .user-det {
        width: 100%;
    }

    .user-cont,
    .user-cont1 {
        width: 100%;
    }

    .height {
        height: 100px;
    }

}




/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        height: auto;
        gap: 30px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 8px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 100%;
    }

    .user-det {
        width: 100%;
    }

    .user-cont,
    .user-cont1 {
        width: 100%;
    }

    .height {
        height: 100px;
    }












}









/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {
    
    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 8px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 9px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 33%;
    }

    .user-det {
        width: 37%;
    }

    .user-cont,
    .user-cont1 {
        width: 30%;
    }

    .height {
        height: 100px;
    }



}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {


    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 12px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 33%;
    }

    .user-det {
        width: 37%;
    }

    .user-cont,
    .user-cont1 {
        width: 30%;
    }

    .height {
        height: 100px;
    }


}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
    body {

        width: 100%;
    }

    .deliveryordertit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .today-delivery-order,
    .today-delivered-order {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        background-color: #ecf0f1;
    }

    .order-item-today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        width: 80%;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
    }

    .today-order {
        padding: 0 20px;
    }

    .orderstatus {
        color: #ff4343;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 20px;
    }

    button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 15px;
    }

    button:hover {
        background-color: #ff9900;
        color: #fff;


    }

    .order-det {
        width: 33%;
    }

    .user-det {
        width: 34%;
    }

    .user-cont,
    .user-cont1 {
        width: 20%;
    }

    .height {
        height: 100px;
    }





}