@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #198754;
    font-family: "Inter", sans-serif;
}





@media only screen and (min-width:200px) and (max-width:399px) {
	
}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

    
    






 



}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {

}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
body
{
    display: none;
}
}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
    body
    {
        outline: none;
        user-select: none;
    }
.admin-main-container
{
    position: sticky;
    top: 0;
    background-color: #ff9900;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-container-header
{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.main-container-header-img img
{
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.main-container-header-img
{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
}
.nav-menu
{
    display: flex;
    gap: 100px;
    height: 50px;
    list-style-type: none;
    align-items: center;
    margin-top: 10px;
    color: azure;
   
}
.nav-menu li:hover
{
    cursor: pointer;
    color: #ff4343;
    transition: all 0.5s;
}
.admin-id
{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 3px;
    color: #ff4343;
}
.admin-id:hover
{
    background-color: #ff4343;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}
.first-container-header
{
    text-align: center;
    padding: 10px 0;
    font-size: 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.users
{
    padding: 10px;
    margin-left: 20px;
}
.usermenu
{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: start;

}
.userimg img
{
    width: 40px;
    border-radius: 50%;
}
.client
{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.emailid
{
    text-align: start;
}
.name,.emailid,.phone,.uniqid,.provider,.tit
{
    width: 25%;
}
.client-name
{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
.name1,.emailid1,.phone1,.uniqi1d,.provider1,.tit1
{
    width: 20%;
}
.client-name
{
    background-color: #ff9900;
    color: #fff;
    padding: 8px 10px;
    font-weight: 700;
}
.usermenu
{
    padding: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
}
.users-emailclient,.users-gmailclient
{
    background-color: #ecf0f1;
    padding: 10px 0;

}
.totalcontaiener
{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin: auto;
    background-color: #ecf0f1;
}
.totaldetailscontainer
{
    height: 400px;
    padding: 20px;
    width: 50%;
    margin: auto;
}
.arrange
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    background-color: #fff;
    font-weight: 600;
}
.totalcontaiener h6
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ff9900;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}




}




