@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
}

* {
    outline: none;
    user-select: none;
}



@media only screen and (min-width:200px) and (max-width:399px) {
    body {
        width: 100%;
    }

    .admin-main-container {
        background-color: #ff9900;
        padding: 10px;
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
    }

    .main-container-header-img img {
        width: 40px;
        border-radius: 50%;

    }

    .main-container-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        color: #fff;
        align-items: center;
        width: 100%;
    }

    .main-container-header-img {
        display: flex;
        gap: 10px;
    }

    .fa-arrow-right-from-bracket,
    .fa-bars,
    .fa-close {
        font-size: 25px;
    }

    .pc-data {
        display: none;
    }

    .admin-id {
        display: flex;
        gap: 14px;
        margin-bottom: 7px;
    }

    .nav-header {
        color: #fff;
        height: 50px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .main-container-header-img p {
        text-shadow: 1px 2px 2px #000;
    }

    .main-container-header-img p {
        text-align: center;
    }

    .userimg img {
        width: 20px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ff9900;
        height: 100%;
        width: 100%;
        margin-left: -500px;
        transition: margin-left 1s;
    }

    .nav-container-active {
        margin-left: 0;
        transition: margin-left 1s;
    }


    .nav-menu {
        list-style-type: none;
        color: #ecf0f1;
        padding: 10px;
        margin-top: 10px;
    }

    .nav-menu li {
        margin: 20px 0;
        background-color: #ecf0f1;
        padding: 10px;
        color: #ff4343;
    }

    .first-container-header {
        text-align: center;
        padding: 10px 0;
        font-size: 23px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .notification {
        position: fixed;
        top: 50px;
        right: 20px;
        width: 300px;
        height: 100px;
        color: black;
        z-index: 1000;

    }

    .Toast {
        /* From https://css.glass */
        border-radius: 3px;
        background-color: #ff4343;
        position: relative;
        padding: 10px;
        color: #fff;
        display: grid;
        grid-template-columns: 60px 3fr 30px;
        align-content: center;
        --color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        animation: show 0.3s ease 1 forwards;
    }

    .Toast i {
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .Toast span,
    .Toast i:nth-child(3) {
        color: #fff;
        opacity: 0.5;
    }

    .Toast .title {
        font-size: large;
        font-weight: 600;
        color: #fff;
    }

    @keyframes show {
        0% {
            transform: translateX(100%);
        }

        40% {
            transform: translateX(-5%);
        }

        80% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    .Toast::before {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards;
    }

    @keyframes timeOut {
        to {
            width: 0;
        }
    }

    .error {
        --color: #f24d4c;
        background-image: linear-gradient(to right, #d44a4aad, rgba(255, 255, 255, 0) 30%);
    }


}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

    body {
        width: 100%;
    }

    .admin-main-container {
        background-color: #ff9900;
        padding: 10px;
        position: sticky;
        top: 0;
    }

    .main-container-header-img img {
        width: 40px;
        border-radius: 50%;

    }

    .main-container-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        color: #fff;
        align-items: center;
    }

    .main-container-header-img {
        display: flex;
        gap: 10px;
    }

    .fa-arrow-right-from-bracket,
    .fa-bars,
    .fa-close {
        font-size: 25px;
    }

    .pc-data {
        display: none;
    }

    .admin-id {
        display: flex;
        gap: 14px;
        margin-bottom: 7px;
    }

    .nav-header {
        color: #fff;
        height: 50px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .main-container-header-img p {
        text-shadow: 1px 2px 2px #000;
    }

    .main-container-header-img p {
        text-align: center;
    }

    .userimg img {
        width: 20px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ff9900;
        height: 100vh;
        width: 100%;
        margin-left: -500px;
        transition: margin-left 1s;
    }

    .nav-container-active {
        margin-left: 0;
        transition: margin-left 1s;
    }


    .nav-menu {
        list-style-type: none;
        color: #ecf0f1;
        padding: 10px;
        margin-top: 10px;
    }

    .nav-menu li {
        margin: 20px 0;
        background-color: #ecf0f1;
        padding: 10px;
        color: #ff4343;
    }

    .first-container-header {
        text-align: center;
        padding: 10px 0;
        font-size: 23px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .notification {
        position: fixed;
        top: 50px;
        right: 20px;
        width: 300px;
        height: 100px;
        color: black;
        z-index: 1000;

    }

    .Toast {
        /* From https://css.glass */
        border-radius: 3px;
        background-color: #ff4343;
        position: relative;
        padding: 10px;
        color: #fff;
        display: grid;
        grid-template-columns: 60px 3fr 30px;
        align-content: center;
        --color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        animation: show 0.3s ease 1 forwards;
    }

    .Toast i {
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .Toast span,
    .Toast i:nth-child(3) {
        color: #fff;
        opacity: 0.5;
    }

    .Toast .title {
        font-size: large;
        font-weight: 600;
        color: #fff;
    }

    @keyframes show {
        0% {
            transform: translateX(100%);
        }

        40% {
            transform: translateX(-5%);
        }

        80% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    .Toast::before {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards;
    }

    @keyframes timeOut {
        to {
            width: 0;
        }
    }

    .error {
        --color: #f24d4c;
        background-image: linear-gradient(to right, #d44a4aad, rgba(255, 255, 255, 0) 30%);
    }













}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {
    body {
        width: 100%;
    }

    .admin-main-container {
        background-color: #ff9900;
        padding: 10px;
    }

    .main-container-header-img img {
        width: 40px;
        border-radius: 50%;

    }

    .main-container-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        color: #fff;
        align-items: center;
    }

    .main-container-header-img {
        display: flex;
        gap: 10px;
    }

    .fa-arrow-right-from-bracket,
    .fa-bars,
    .fa-close {
        font-size: 25px;
    }

    .pc-data {
        display: none;
    }

    .admin-id {
        display: flex;
        gap: 14px;
        margin-bottom: 7px;
    }

    .nav-header {
        color: #fff;
        height: 50px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .main-container-header-img p {
        text-shadow: 1px 2px 2px #000;
    }

    .main-container-header-img p {
        text-align: center;
    }

    .userimg img {
        width: 20px;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ff9900;
        height: 100vh;
        width: 100%;
        margin-left: -1250px;
        transition: margin-left 1s;
    }

    .nav-container-active {
        margin-left: 0;
        transition: margin-left 1s;
    }


    .nav-menu {
        list-style-type: none;
        color: #ecf0f1;
        padding: 10px;
        margin-top: 10px;
    }

    .nav-menu li {
        margin: 20px 0;
        background-color: #ecf0f1;
        padding: 10px;
        color: #ff4343;
    }

    .first-container-header {
        text-align: center;
        padding: 10px 0;
        font-size: 23px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .notification {
        position: fixed;
        top: 50px;
        right: 20px;
        width: 300px;
        height: 100px;
        color: black;
        z-index: 1000;

    }

    .Toast {
        /* From https://css.glass */
        border-radius: 3px;
        background-color: #ff4334;
        position: relative;
        padding: 10px;
        color: #fff;
        display: grid;
        grid-template-columns: 60px 3fr 30px;
        align-content: center;
        --color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        animation: show 0.3s ease 1 forwards;
    }

    .Toast i {
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .Toast span,
    .Toast i:nth-child(3) {
        color: #fff;
        opacity: 0.5;
    }

    .Toast .title {
        font-size: large;
        font-weight: 600;
        color: #fff;
    }

    @keyframes show {
        0% {
            transform: translateX(100%);
        }

        40% {
            transform: translateX(-5%);
        }

        80% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    .Toast::before {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards;
    }

    @keyframes timeOut {
        to {
            width: 0;
        }
    }

    .error {
        --color: #f24d4c;
        background-image: linear-gradient(to right, #d44a4aad, rgba(255, 255, 255, 0) 30%);
    }


}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {


    body {
        outline: none;
        user-select: none;
    }

    .mobile-data {
        display: none;
    }

    .admin-main-container {
        position: sticky;
        width: 100%;
        top: 0;
        background-color: #ff9900;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .main-container-header {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
    }

    .main-container-header-img img {
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
    }

    .main-container-header-img {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        color: aliceblue;
        text-shadow: 1px 1px 1px #000;
        font-size: 18px;
    }

    .nav-menu {
        display: flex;
        gap: 50px;
        height: 50px;
        list-style-type: none;
        align-items: center;
        margin-top: 10px;
        color: azure;

    }


    .nav-menu li:hover {
        cursor: pointer;
        color: #ff4343;
        transition: all 0.5s;
    }

    .admin-id {
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 3px;
        color: #ff4343;
    }

    .admin-id:hover {
        background-color: #ff4343;
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;
    }

    .first-container-header {
        text-align: center;
        padding: 10px 0;
        font-size: 23px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .notification {
        position: fixed;
        top: 50px;
        right: 20px;
        width: 300px;
        height: 100px;
        color: black;
        z-index: 1000;

    }

    .Toast {
        /* From https://css.glass */
        border-radius: 3px;
        background-color: #ff4343;
        position: relative;
        padding: 10px;
        color: #fff;
        display: grid;
        grid-template-columns: 60px 3fr 30px;
        align-content: center;
        --color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        animation: show 0.3s ease 1 forwards;
    }

    .Toast i {
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .Toast span,
    .Toast i:nth-child(3) {
        color: #fff;
        opacity: 0.5;
    }

    .Toast .title {
        font-size: large;
        font-weight: 600;
        color: #fff;
    }

    @keyframes show {
        0% {
            transform: translateX(100%);
        }

        40% {
            transform: translateX(-5%);
        }

        80% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    .Toast::before {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards;
    }

    @keyframes timeOut {
        to {
            width: 0;
        }
    }

    .error {
        --color: #f24d4c;
        background-image: linear-gradient(to right, #d44a4aad, rgba(255, 255, 255, 0) 30%);
    }

}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
    body {
        outline: none;
        user-select: none;
        width: 100%;
    }

    .mobile-data {
        display: none;
    }

    .admin-main-container {
        position: sticky;
        top: 0;
        background-color: #ff9900;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    }

    .main-container-header {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        width: 100%;
    }

    .main-container-header-img img {
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
    }

    .main-container-header-img {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        color: aliceblue;
        text-shadow: 1px 1px 1px #000;
        font-size: 18px;
    }

    .nav-menu {
        display: flex;
        gap: 100px;
        height: 50px;
        list-style-type: none;
        align-items: center;
        margin-top: 10px;
        color: azure;

    }

    .nav-menu li {
        position: relative;
        padding: 4px 0;
    }



    .nav-menu li:hover {
        cursor: pointer;
        color: #ff4343;
        transition: all 0.5s;
    }

  

    .admin-id {
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 3px;
        color: #ff4343;
    }

    .admin-id:hover {
        background-color: #ff4343;
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;
    }

    .first-container-header {
        text-align: center;
        padding: 10px 0;
        font-size: 23px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .notification {
        position: fixed;
        top: 50px;
        right: 20px;
        width: 300px;
        height: 100px;
        color: black;
        z-index: 1000;

    }

    .Toast {
        /* From https://css.glass */
        border-radius: 3px;
        background-color: #ff4343;
        position: relative;
        padding: 10px;
        color: #fff;
        display: grid;
        grid-template-columns: 60px 3fr 30px;
        align-content: center;
        --color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
            -1px -1px 2px rgba(0, 0, 0, 0.1);
        animation: show 0.3s ease 1 forwards;
    }

    .Toast i {
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .Toast span,
    .Toast i:nth-child(3) {
        color: #fff;
        opacity: 0.5;
    }

    .Toast .title {
        font-size: large;
        font-weight: 600;
        color: #fff;
    }

    @keyframes show {
        0% {
            transform: translateX(100%);
        }

        40% {
            transform: translateX(-5%);
        }

        80% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-10%);
        }
    }

    .Toast::before {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards;
    }

    @keyframes timeOut {
        to {
            width: 0;
        }
    }

    .error {
        --color: #f24d4c;
        background-image: linear-gradient(to right, #d44a4aad, rgba(255, 255, 255, 0) 30%);
    }




}