.users-container
{
    display: none;
     padding-left: 60px;
}
.partners-container
{
    display: none;
     padding-left: 60px;
}
.revenue-container
{
    display: none;
     padding-left: 60px;
}
.orders-container
{
    display: none;
     padding-left: 60px;
}
.calender-container
{
    display: none;
     padding-left: 60px;
}
.products-container
{
    display: none;
     padding-left: 60px;
}