.users-container {
    display: none;
}

.partners-container {
    display: none;
}

.revenue-container {
    display: none;
}

.orders-container {
    display: none;
}

.calender-container {
    display: none;
}

.products-container {
    display: none;
}


/* sm mobiles */
@media only screen and (min-width:199px) and (max-width:399px) {
    .users-container {
        padding-left: 60px;
        height: auto;
    }
     .userrevenue {
        height: 1100px;
        overflow-y: scroll;
    }

    .userrevenue::-webkit-scrollbar {
        width: 2px;
    }

    .userrevenue::-webkit-scrollbar-thumb {
        background-color: #ff4343;
        border-radius: 10px;
    }
}

/* lg mobiles and sm tablets */
@media only screen and (min-width:400px) and (max-width:767px) {
    .users-container {
        padding-left: 50px;
        height: auto;
    }
     .userrevenue {
        height: 1100px;
        overflow-y: scroll;
    }

    .userrevenue::-webkit-scrollbar {
        width: 2px;
    }

    .revenue-container
    {
        padding-left: 50px;
    }
}

/* md tablets and sm laptops */
@media only screen and (min-width:768px) and (max-width:1023px) {
    .users-container {
        padding-left: 90px;
        height: auto;
    }
     .userrevenue {
        height: 1100px;
        overflow-y: scroll;
    }

    .userrevenue::-webkit-scrollbar {
        width: 2px;
    }

    .userrevenue::-webkit-scrollbar-thumb {
        background-color: #ff4343;
        border-radius: 10px;
    }

}

/* md laptops and sm desktops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
    .users-container {
        padding-left: 60px;
        height: auto;
    }

    .revenue-container {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }

    .userrevenue {
        height: 1100px;
        overflow-y: scroll;
    }

    .userrevenue::-webkit-scrollbar {
        width: 2px;
    }

    .userrevenue::-webkit-scrollbar-thumb {
        background-color: #ff4343;
        border-radius: 10px;
    }
}

/* lg desktops and 4k */

@media only screen and (min-width:1440px) and (max-width:2160px) {
    .users-container {
        padding-left: 20px;
        height: auto;
    }

    .revenue-container {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }

    .userrevenue {
        height: 1100px;
        overflow-y: scroll;
    }

    .userrevenue::-webkit-scrollbar {
        width: 2px;
    }

    .userrevenue::-webkit-scrollbar-thumb {
        background-color: #ff4343;
        border-radius: 10px;
    }

















}